<% include ../partials/header.ejs %>

<h1>Weclome !</h1><br/>
<h2>You can get some stats from a repo of your choice from Github.<br/>
Type in the search bar. Use the following format <i>repoOwner/repo</i>.</h2><br/>
<h3>Please note that the more commits a repository have,<br/>
longer will be time necessary to fetch the data.</h3>


<% include ../partials/footer.ejs %>